@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
  position: relative;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-self: center;
}

.completed-task {
  text-decoration: line-through;
  color: #db3545;
}

input[type=text] {
  background: #d8d8d8;
  border: none;
  padding: 4px;
  padding: 8px 4px;
}
